#domain_accounts.tab-pane
  %h2.page-header
    = mailboxes.first.domain.name
    %small Accounts
    = link_to domain_mailboxes_path, class: 'btn btn-primary pull-right' do
      %i.icon-pencil.icon-white
      Edit Accounts
  
  %table.table
    %thead
      %tr
        %th Email Address
    %tbody
      - mailboxes.each do |mailbox|
        %tr
          %td
            = mailbox.email 