.row-fluid
  .span8.offset2
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          = link_to "#my_account", data: { toggle: 'tab' } do
            My Account
        - if current_mailbox.has_role? :domain_admin
          %li
            = link_to "#domain_accounts", data: { toggle: 'tab' } do
              Domain Accounts
      .tab-content
        = render :partial => 'my_account_tab', locals: { mailbox: @my_account }
        = render :partial => 'domain_accounts_tab', locals: { mailboxes: @mailboxes } if current_mailbox.has_role? :domain_admin
